.home__menubar {
  background-color: black;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
}
.home__menubar ul li {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.0705882353);
  padding: 0.75rem 1.5rem;
  margin-inline: 0.75rem;
  font-size: 1.5rem;
}