.home__menubar {
  background-color: black;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.home__logo-img {
  height: 6rem;
  margin-right: auto;
}

ul li {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.0705882353);
  padding: 0.75rem 1.5rem;
  margin-inline: 0.75rem;
  font-size: 1.5rem;
}