.home__menubar
  background-color: black
  padding: 1.5rem
  display: flex
  justify-content: flex-end

.home__logo-img
  height: 6rem
  margin-right: auto

ul li
  display: inline-block
  background-color: #ffffff12
  padding: .75rem 1.5rem
  margin-inline: .75rem
  font-size: 1.5rem
