.stats__bg-img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

.stats {
  height: 100vh;
}
.stats .iframes {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
}
.stats .iframes iframe {
  border-radius: 1rem;
  height: 25rem;
  width: 25rem;
}
.stats .header-content-wrapper {
  width: 50%;
  padding-block: 10rem;
  float: right;
  display: flex;
  align-items: center;
}
.stats .header-content-wrapper .header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.stats .header-content-wrapper .header-content .header {
  font-size: 3rem;
  margin: 0 auto 3rem;
}
.stats .header-content-wrapper .header-content .content {
  font-size: 2rem;
  font-weight: bold;
}
.stats .header-content-wrapper .header-content .buttons {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem auto 0;
  gap: 1.5rem;
}